/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dashboard-container {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

p {
    margin-bottom: 10px;
    color: #555;
}

#usersName {
    font-weight: bold;
    color: #333;
}

#usersLevel {
    font-weight: bold;
    color: #333;
}

div.ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

div.ul a {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

li:hover {
    background-color: #0056b3;
}
